body {
    background-color: beige;
}

h1 {
    color: orchid;
}

.clicked {
    color: bisque;
}

.btn{
    cursor: pointer;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}